---
layout: startpage
---

<div class="home">
	
	{% assign leads_posts = site.posts | where:"phase","leadskvalificering" %}
	{% assign sales_posts = site.posts | where:"phase","sälj" %}
	{% assign start_posts = site.posts | where:"phase","uppstart" %}
	{% assign strategy_posts = site.posts | where:"phase","strategi" %}
	{% assign explore_posts = site.posts | where:"phase","utforska" %}
  	{% assign concept_posts = site.posts | where:"phase","koncept" %}
  	{% assign production_posts = site.posts | where:"phase","produktion" %}
  	{% assign launch_posts = site.posts | where:"phase","lansering" %}
  	{% assign review_posts = site.posts | where:"phase","utvärdering" %}
  	{% assign lifecycle_posts = site.posts | where:"phase","service-lifecycle-mgmt" %}

	<!--
	<div class="filter">
		<h2>Filtrera listan på kompetens&nbsp;<input type="button" id="FilterMenueButton" class="filter-menu-button" onclick="OpenCloseFilterList()" /></h2>
		<ul  id="FilterList" class="filter-list">
			<li>
			<input type="button" id="Tech" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="Tech"/>
			</li>
			<li>
			<input type="button" id="Analys" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="Analys"/>
			</li>
			<li>
			<input type="button" id="UX" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="UX"/>
			</li>
			<li>
			<input type="button" id="QA" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="QA"/>
			</li>
			<li>
			<input type="button" id="PL" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="PL"/>
			</li>
			<li>
			<input type="button" id="AM" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="AM"/>
			</li>
			<li>
			<input type="button" id="Design" class="filter-button filter-button-not-selected" onclick="FilterButtonClicked(this.id)" value="Design"/>
			</li>
		</ul>
	</div>
	-->

	<div class="phase-wrapper">
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-l">Leads-kvalificering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in leads_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Sälj</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in sales_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-u">Uppstart</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in start_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Utforska</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in explore_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-b">Strategi</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in strategy_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ words	 }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-k">Koncept</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in concept_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-p">Produktion</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in production_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-l">Lansering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in launch_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-u">Utvärdering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in review_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Service lifecycle mgmt</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in lifecycle_posts %}
				<li>
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
	</div>
	<div style="clear: left"/>
</div>
