---
layout: startpage
---
{% assign leads_posts = site.categories.leads-qualifying | sort:"sortindex" %}
{% assign sales_posts = site.categories.sales | sort:"sortindex" %}
{% assign start_posts = site.categories.start | sort:"sortindex" %}
{% assign explore_posts = site.categories.explore | sort:"sortindex" %}
{% assign strategy_posts = site.categories.strategy | sort:"sortindex" %}
{% assign concept_posts = site.categories.concept | sort:"sortindex" %}
{% assign production_posts = site.categories.production | sort:"sortindex" %}
{% assign review_posts = site.categories.review | sort:"sortindex" %}
{% assign launch_posts = site.categories.launch | sort:"sortindex" %}
{% assign lifecycle_posts = site.categories.service-lifecycle-mgmt | sort:"sortindex" %}
    
<div class="home">
	<div class="phase-wrapper">
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-l">Leads-kvalificering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in leads_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Sälj</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in sales_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-u">Uppstart</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in start_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Utforska</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in explore_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-b">Strategi</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in strategy_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-k">Koncept</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in concept_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-p">Produktion</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in production_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-l">Lansering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in launch_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-u">Utvärdering</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in review_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
		<div class="phase">
			<div class="inner-top-style-div"></div>
			<h2 class="phase-heading icon-s">Service lifecycle mgmt</h2>
			<div class="article-list-wrapper">
			<ul class="article-list">  	
				{% for post in lifecycle_posts %}
				<li>
					{% if post.draft == false %}
					<h3><a class="article-link" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% else %}
					<h3><a class="article-link article-link-inactive" data-tags="{{ post.tags }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="inner-bottom-style-div"></div>
		</div>
	</div>
	<div style="clear: left"/>
</div>
