<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<script>

	$('document').ready(function(){
		CheckContainerSize();
	});
	
	function ToggleButtonClass(buttonElement){
		if(buttonElement.classList.contains("filter-button-selected")) {
			buttonElement.classList.remove("filter-button-selected");
			buttonElement.classList.add("filter-button-not-selected");
		} else {
			buttonElement.classList.remove("filter-button-not-selected");
			buttonElement.classList.add("filter-button-selected");
		}
	}
	
	function contains(a, obj) {
    	for (var i = 0; i < a.length; i++) {
        	if (a[i] === obj) {
            	return true;
        	}
    	}
    	return false;
	}
	
	function OpenCloseFilterList(){
		var filterList = document.getElementById("Filter");
		if(filterList.style.display == 'none')
			filterList.style.display = 'inline';
		else
			filterList.style.display = 'none';
	}
	
	function FilterButtonClicked(id){
		ToggleButtonClass(document.getElementById(id));
		HandleList();
	}
	
	function HandleList(){
		var buttonList = document.getElementsByClassName("filter-button-selected");
		var tagList = new Array();
		
		for(i=0; i<buttonList.length; i++){
			tagList.push(buttonList[i].id);
		}
		
		var postList = document.getElementsByClassName("article-link");

		for(i=0; i<postList.length; i++) {
			if(tagList.length != 0 && contains(tagList, postList[i].getAttribute('data-tags'))) {
				postList[i].parentElement.parentElement.style.display = 'none';	
			} else {
				postList[i].parentElement.parentElement.style.display = 'block';	
			}
		}
		
	}
	
	function CheckContainerSize(){
    	var containers = document.getElementsByClassName("article-list-wrapper");
    	for(i=0; i<containers.length; i++){
    		if(containers[i].scrollHeight > 244){
    			if(!containers[i].classList.contains("article-list-overflowing")) {
    				containers[i].classList.add("article-list-overflowing");	
    			}
    		}
		}
	}
	
	
	
	

</script>